
<body id="certs">
    
  <section >
  
    <% $par = 0 %>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Certificates</h2>
                    
                </div>   
            </div>
                <% if user_signed_in? %>
                    <div type="button" class="btn ">
                        <%= link_to 'New Cert', new_cert_path, :class => 'btn btn-primary btn-xs' %>
                    </div>
                <% end %>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline">
                            <% @certs.each do |cert| %>
                                <% if $par.even? %>
                                    <li>
                                <%else%>
                                    <li class="timeline-inverted">

                                <% end %>
                                <% $par +=1 %>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" <%= image_tag cert.image.url %> 
                                </div>
                                <div class="timeline-panel" >
                                    <div class="timeline-heading">
                                        <h4 class="subheading"><%= cert.title %></h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted" style="color:gray;"><%= cert.body %></p>
                                    </div>
                                    <% if user_signed_in? %>
                                        <td><%= link_to 'Edit', edit_cert_path(cert), :class => 'btn btn-warning btn-xs' %></td>
                                        <td><%= link_to 'Delete', cert, method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn btn-danger btn-xs' %></td>
                                    <% end %>
                                </div>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>

      
        </div>
  </section>

</body>
