
<body style="background-image: url('/assets/salr.jpg');
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;">
<section id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Products</h2>
                    <h3 class="section-subheading text-muted">products of the highest quality.</h3>
            </div>
        </div>
        <% if user_signed_in? %>
            <div type="button" class="btn" style="color: white;">
                <%= link_to 'New Prod', new_pro_path %>
            </div>
        <% end %>
        <div class="row">
            <% @pros.each do |pro| %>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-responsive" alt=""<%= image_tag pro.image.thumb4.url %>
                    </a>
                    <div class="portfolio-caption">
                        <h4><%= pro.title %></h4>
                        <p class="text-muted">Nombre en ingles</p>
                        <% if user_signed_in? %>
                            <td><%= link_to 'Edit', edit_pro_path(pro) %></td>
                            <td><%= link_to 'Destroy', pro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>
</body>

